<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/c78f98c967.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="https:/resources/demos/style.css">
        <link rel="icon" type="image/png" sizes="20x20" href="img/logo.png">
        <title>
            Profil / Twitter
        </title>
    </head>
    <body>
        
        <div class="container">

            <div class="row">
                <div class="col-3">
                    <ul class="sidebar-nav"></ul>
                        <li><a href="accueil.html" class="btn show side"><img src="img/logo.png" width="45" height="45" alt="logo twitter"></a></li>
                        <li><a href="accueil.html"class="btn side"><i class="fas show fa-home"></i>&ensp;Accueil</a></li>
                        <li><a href="explorer.html"class="btn side"><i class="fas show fa-hashtag"></i>&ensp;Explorer</a></li>
                        <li><a href="accueil.html"class="btn side"><i class="far show fa-bell"></i>&ensp;Notifications</a></li>
                        <li><a href="accueil.html"class="btn side"><i class="far show fa-envelope"></i>&ensp;Messages</a></li>
                        <li><a href="compte.html" class="btn side"><i class="far show fa-user"></i>&ensp;Profil</a></li>
                        <li><a class="btn side popin-open"><i class="fas show fa-sliders-h"></i>&ensp;Affichage</a></li>
                        <li><a href="accueil.html"class="btn show side btn-primary changebg">&ensp;Twitter</a></li>
                    </ul>
                </div>
                
                <div class="col-6">
                    <div class="row">
                        <div class="col-1">&#8592;</div> 
                        <div id="nickname_header" class="col"></div>
                    </div>
                    <div class="row">
                        <div id ="avatar" class="col-2">
                            <img src='https://avatarfiles.alphacoders.com/150/thumb-1920-150110.jpg' width="100px" height="100px" style="border-radius: 50px;">
                        </div>
                        <div class="col-6"></div>
                        <div class="col-4">
                            <button type="button" class="btn btn-outline-primary" id="suivre" style="width: auto;">Suivre</button>
                        </div>
                    </div>
                    <div>
                        <span id="nickname">Nickname</span>
                        <br>
                        <span id="username">Username</span>
                    </div>
                    <div>
                        <p id="biography">Bio</p>
                    </div>
                    <div class="row">
                        <div id="location" class="col-4">
                            Location
                        </div>
                        <div id="website" class="col-4">
                            Website
                        </div>
                        <div id="birthday" class="col-4">
                            Birthday
                        </div>
                        <div id="inscription_date" class="col-4">
                            Date inscription
                        </div>
                    </div>
                    <div class="row">
                        <div id="followed" class="col">Followed</div>
                        <div id="follower" class="col">Followers</div>
                    </div>
                </div>

                <div class="col-3">
                    <form id="search">
                        <input type="text" id="recherche" name="recherche" placeholder="&#8981;  Recherche Twitter">
                     </form>

                    <h3>Tendances pour vous</h3>
                </div>
            </div> 

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src="script/theme.js"></script>
        <script src="script/recherche.js"></script>
        <script src="script/profil.js"></script>
        <script src="script/show.js"></script>
    </body>
</html>